<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Check Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/checkInOut.jpg" alt="">
  <br>

  <ion-list lines="full">

    <ion-item *ngIf="inquilinoLocal">
      <ion-label>{{inquilinoLocal.nombre}} {{inquilinoLocal.apellido}}</ion-label>
    </ion-item>
    <ion-item *ngIf="inquilinoLocal">
      <ion-label>Torre: {{inquilinoLocal.torre}}/ Depto:{{inquilinoLocal.depto}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Torre</ion-label>
      <ion-select ok-text="Si" cancel-text="No" [(ngModel)]='inquilinoLocal.torre'>
        <ion-select-option value="1">Torre 1</ion-select-option>
        <ion-select-option value="2">Torre 2</ion-select-option>
        <ion-select-option value="3">Torre 3</ion-select-option>
        <ion-select-option value="4">Torre 4</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select ok-text="Si" cancel-text="No" [(ngModel)]='inquilinoLocal.depto'>
        <ion-select-option value="101">101</ion-select-option>
        <ion-select-option value="102">102</ion-select-option>
        <ion-select-option value="103">103</ion-select-option>
        <ion-select-option value="104">104</ion-select-option>
        <ion-select-option value="105">105</ion-select-option>
        <ion-select-option value="106">106</ion-select-option>
        <ion-select-option value="201">201</ion-select-option>
        <ion-select-option value="202">202</ion-select-option>
        <ion-select-option value="203">203</ion-select-option>
        <ion-select-option value="204">204</ion-select-option>
        <ion-select-option value="205">205</ion-select-option>
        <ion-select-option value="206">206</ion-select-option>
        <ion-select-option value="301">301</ion-select-option>
        <ion-select-option value="302">302</ion-select-option>
        <ion-select-option value="303">303</ion-select-option>
        <ion-select-option value="304">304</ion-select-option>
        <ion-select-option value="305">305</ion-select-option>
        <ion-select-option value="306">306</ion-select-option>
        <ion-select-option value="401">401</ion-select-option>
        <ion-select-option value="402">402</ion-select-option>
        <ion-select-option value="403">403</ion-select-option>
        <ion-select-option value="404">404</ion-select-option>
        <ion-select-option value="405">405</ion-select-option>
        <ion-select-option value="406">406</ion-select-option>
        <ion-select-option value="501">501</ion-select-option>
        <ion-select-option value="502">502</ion-select-option>
        <ion-select-option value="503">503</ion-select-option>
        <ion-select-option value="504">504</ion-select-option>
        <ion-select-option value="505">505</ion-select-option>
        <ion-select-option value="506">506</ion-select-option>
        <ion-select-option value="601">601</ion-select-option>
        <ion-select-option value="602">602</ion-select-option>
        <ion-select-option value="603">603</ion-select-option>
        <ion-select-option value="604">604</ion-select-option>
        <ion-select-option value="605">605</ion-select-option>
        <ion-select-option value="606">606</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="inquilinoLocal">
      <ion-label>Entrada:{{inquilinoLocal.checkIn}}</ion-label>
    </ion-item>
    <ion-item *ngIf="inquilinoLocal">
      <ion-label>Salida:{{inquilinoLocal.checkOut}}</ion-label>
    </ion-item>
  </ion-list>


  <br>
  <ion-button color="success" (click)="checkInVisita()" expand="block"   [disabled]="disabled" >Entrar</ion-button>
  <ion-button color="warning" (click)="checkOutVisita()" expand="block">Salir</ion-button>
  <ion-button (click)="backCheck()" expand="block">Regresar</ion-button>
</ion-content>