<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Check Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/checkInOut.jpg" alt="">
  <br>

<ion-list lines="full">
  
    <ion-item *ngIf="inquilinoLocal">
       <ion-label>{{inquilinoLocal.nombre}} {{inquilinoLocal.apellido}}</ion-label>
      
    </ion-item>
    <ion-item *ngIf="inquilinoLocal">
      <ion-label>Torre: {{inquilinoLocal.torre}}/ Depto:{{inquilinoLocal.depto}}</ion-label>
   </ion-item>    
</ion-list>


  <br>
  <ion-button   color="success" (click)="checkInVisita()" expand="block">Entrar</ion-button>
  <ion-button   color="warning" (click)="checkOutVisita()" expand="block">Salir</ion-button>
  <ion-button  (click) = "backCheck()" expand="block">Regresar</ion-button>
</ion-content>
