.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.iconButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ion-grid{
    border-style: solid;
    border-color: chartreuse;
    .ion-row{
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: medium gray(34);
        border-color: coral;
    }
    .ion-col{
      border: solid;
      border-color:darkmagenta;
    }
  }