.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.iconButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ion-grid{
    border-style: solid;
    border-color: chartreuse;
    border-width: 0px;
    .ion-row{
        border: solid;
        border-width: 0px;
        border-color: coral;
    }
    .ion-col{
      border: solid;
      border-color:darkmagenta;
      border-width: 0px;
    }
  }

  nav.mainNav > .navItem {
    display: inline-block;
    padding: 20px;
    background: #4800ff;
    color: #fff;
}

ion-content{
    --background-color:#151965;
}