.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.iconButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-grid{
    .row{
      border-style: solid;
     
    }
    .col{
      border-style: solid;

    }
  }