.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.iconButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}